@{
    ViewData["Title"] = "Fast IT Equipment Tool Service";
}
<html>
    <head>
        <style>
            img {
                text-align: center;
                margin: 30px;
                border: 1px 1px black;
            }
        </style>
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">FAST Equipment Tool Service</h1>
            <p>The place to borrow IT equipment!</p>
            <img src="https://media-www.sheridancollege.ca/-/media/project/sheridan/shared/images/programs/program-pages/program-index/campus/trafalgar-road-campus-sheridan-college.jpg?rev=21f870310fa244b6aebe48f9b4a5a4c6&w=1024&hash=CC46959813E3F95E06C2FBEBD75F71C3" />

        </div>
    </body>
</html>