@model Dylan_Tran___Assignment_1.Models.RequestForm
@{
    ViewData["Title"] = "IT Equipment Request Form";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"   />
    <title>RsvpForm</title>
    <style>
        .input {
            margin-bottom: 15px;
        }

        select {
            length: 70px;
        }
    </style>
</head>
<body>
    <form asp-action="RsvpForm" method="post">

        <div class="input">
            <div><label asp-for="Name">Your name:</label></div>
            <div><input asp-for="Name" required/></div>
        </div>

        <div class="input">
            <div><label asp-for="Email">Your email:</label></div>
            <div><input asp-for="Email" required/></div>
        </div>

        <div class="input">
            <div><label asp-for="Phone">Your phone number:</label></div>
            <div><input asp-for="Phone" /></div>
        </div>

        <div class="input">
            <div><label asp-for="Equipment">Who are you?</label></div>
            <select name="Role" required>
                <option selected="selected" value="">Please select your role</option>
                <option value="Student">Student</option>
                <option value="Professor">Professor</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="input">
            <div><label asp-for="Equipment">What type of equipment do you need?</label></div>
            <select name="Equipment" required>
                <option selected="selected" value="">Please select the device type</option>
                <option value="Laptop">Laptop</option>
                <option value="Phone">Phone</option>
                <option value="Tablet">Tablet</option>
            </select>
        </div>

        <div class="input">
            <div><label asp-for="Duration">How many days do you need the equipment?:</label></div>
            <div><input asp-for="Duration" required min="1"/></div>
        </div>
        
        <button type="submit">Submit RSVP</button>
    </form>
</body>
</html>