@model Dylan_Tran___Assignment_1.Models.RequestForm
@{
    ViewData["Title"] = "IT Equipment Request Form";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"   />
    <title>Request Form</title>
    <style>
        .input {
            margin-bottom: 15px;
        }

    </style>
</head>
<body>
    <form asp-action="RequestForm" method="post">

        <div class="input">
            <div><label asp-for="Name">Your name:</label></div>
            <div><input asp-for="Name" required placeholder="Dylan Tran"/></div>
        </div>

        <div class="input">
            <div><label asp-for="Email">Your email:</label></div>
            <div><input asp-for="Email" required type="email" placeholder="tradylan@sheridancollege.ca"/></div>
        </div>

        <div class="input">
            <div><label asp-for="Phone">Your phone number:</label></div>
            <div>
                <input asp-for="Phone" required type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" />
            </div>
        </div>

        <div class="input">
            <div><label asp-for="Equipment">Who are you?</label></div>
            <select name="Role" required>
                <option selected="selected" value="">Please select your role</option>
                <option value="Student">Student</option>
                <option value="Professor">Professor</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="input">
            <div><label asp-for="Equipment">What type of equipment do you need?</label></div>
            <select name="Equipment" required>
                <option selected="selected" value="">Please select the device type</option>
                <option value="Laptop">Laptop</option>
                <option value="Phone">Phone</option>
                <option value="Tablet">Tablet</option>
            </select>
        </div>

        <div class="input">
            <div><label asp-for="Duration">How many days do you need the equipment?:</label></div>
            <div><input asp-for="Duration" required min="1"/></div>
        </div>

        <div class="input">
            <div><label asp-for="Request_Details">Additional Details</label></div>
            <textarea asp-for="Request_Details" rows="5" cols="50">
                Any specific requests that you need?
            </textarea>
        </div>
        
        <button type="submit">Submit Request</button>
    </form>
</body>
</html>